{% extends "base.html" %}
{% block title %}{% block page_title %}StudentCare{% endblock %}{% endblock %}

{% block content %}
{% set user_logged_in = true %}
{% include "site-nav.html" %}
<main class="authenticated-page">
  <div class="container py-4">
    {% for message in get_flashed_messages(request) %}
    <div class="alert alert-{{ message.type }}" role="alert">{{ message.message }}</div>
    {% endfor %}
    {% block subpage_content %}{% endblock %}
  </div>
</main>
{% block subpage_scripts %}{% endblock %}
{% endblock %}
